body {
    font-family: 'Arial', sans-serif;
    background: #0072ce;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: start;
    height: 100vh;
    box-sizing: border-box;
}

.container {
    padding: 0 25px 0 25px;
    width: 100%;
    max-width: 400px;
    text-align: center;
    box-sizing: border-box;
}

h1 {
    margin-bottom: 20px;
    color: white;
    font-family: 'Sigmar', cursive;
    font-size: 56px;
    font-weight: 400;
}

.total {
    text-transform: uppercase;
    font-size: 28px;
    font-family: impact, sans-serif;
    margin-bottom: 20px;
    color: white;
}

.total span {   
    color: white;
    font-weight:900;
}

.input-group {
    margin-bottom: 20px;
    width: 100%;
}

input[type="text"], input[type="number"] {
    width: calc(100% - 24px);
    padding: 12px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 8px;
    font-size: 16px;
    outline: none;
    transition: border-color 0.3s ease;
    box-sizing: border-box;
}

input[type="text"]:focus, input[type="number"]:focus {
    border-color: #6C63FF;
}

.button-group {
    margin-bottom: 20px;
}

.btn {
    padding: 12px 20px;
    font-size: 16px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    width: 93.5%;
    transition: background-color 0.3s ease, transform 0.2s ease;
    box-sizing: border-box;
}

.add {
    background-color: #ffb81c;
    color: black;
    font-family: monospace;
}

.add:hover {
    background-color: #f5cf7d;
}

.reset {
    background-color: #ffb81c;
    color: black;
    font-family: monospace;
    margin-top: 10px;
}

.reset:hover {
    background-color: #f5cf7d;
}

.error-message {
    color: #FF5252;
    margin-bottom: 15px;
    font-size: 14px;
}

.history {
    margin-bottom: 20px;
    text-align: left;
    width: 100%;
    background-color: #FAFAFA;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    display: none;
    max-height: 300px;
    overflow-y: auto;
}

.history div {
    display: grid;
    grid-template-columns: 30px 1fr 50px 80px;
    align-items: center;
    gap: 10px;
    padding: 8px 0;
    border-bottom: 1px solid #eee;
    font-size: 14px;
}

.history div button {
    background: none;
    border: none;
    cursor: pointer;
    color: rgba(9,9,121,1);
    font-size: 16px;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.history div button img {
    width: 24px;
    height: 24px;
}

.history div span.quantity {
    color: #2a5298;
    font-weight: bold;
    text-align: left;
}

.history div span.amount {
    color: #4CAF50;
    font-weight: bold;
    text-align: right;
}

footer {
    margin-top: 20px;
    font-size: 14px;
    color: white;
}

footer a {
    color: #0072ce;
    text-decoration: none;
    font-weight: bold;
}

#credits {
    color: #ffb81c;
    text-decoration: none;
}

#resetButton, .total {
    display: none;
}